$color-primary: #5f27cd;
$color-grey-light-1: #808e9b;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #dcdcdc;
$color-grey-dark-1: #222f3e;
$color-grey-dark-2: #485460;

//Fonts
$font-primary: 'Ubuntu', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
