<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,600i,700,700i|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/all.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/styles/bootstrap.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/styles/admin/style.css" asp-append-version="true"/>
</head>
<body>
<div class="wrapper">
    <nav class="sidebar">
        <h2 class="sidebar__heading">Administration</h2>
        <ul class="sidebar__nav">
            <li class="sidebar__item">
                <a class="sidebar__link" href="#">

                    <svg class="sidebar__icon">
                        <use xlink:href="/img/sprite.svg#icon-drive"></use>
                    </svg>
                    Dashboard


                </a>
            </li>
            <li class="sidebar__item">
                <a class="sidebar__link  sidebar__link--active dropdown-toggle" href="#catalog" aria-expanded="False" data-toggle="collapse">

                    <svg class="sidebar__icon">
                        <use xlink:href="/img/sprite.svg#icon-folder"></use>
                    </svg>
                    Catalog
                    <svg class="sidebar__expand">
                        <use xlink:href="/img/sprite.svg#icon-chevron-thin-left"></use>
                    </svg>
                </a>

                <ul class="collapse sidebar__tree" id="catalog">
                    <li class="sidebar__tree-item sidebar__tree-item--active">
                        <a asp-controller="Products" asp-action="List" class="sidebar__tree-link sidebar__tree-link--active">
                            <svg class="sidebar__tree-icon">
                                <use xlink:href="/img/sprite.svg#icon-controller-record"></use>
                            </svg>
                            Products
                        </a>
                        <a asp-controller="Categories" asp-action="List" class="sidebar__tree-link">
                            <svg class="sidebar__tree-icon">
                                <use xlink:href="/img/sprite.svg#icon-controller-record"></use>
                            </svg>
                            Categories
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>

    <div class="content">
        <header class="header">
            <div class="header__toggler-box">
                <button class="header__toggler-btn"></button>
            </div>
            <div class="header__user">John Smith</div>
        </header>
        <div class="content__body">
            @RenderBody()
        </div>
    </div>
</div>

<script src="~/scripts/admin/manifest.bundle.js" asp-append-version="true"></script>
<script src="~/scripts/admin/vendor.bundle.js" asp-append-version="true"></script>
<script src="~/scripts/admin/app.bundle.js" asp-append-version="true"></script>

@await RenderSectionAsync("scripts", false)
</body>
</html>